<!doctype html>
<html>
<head>
    <title>Boomerang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/build/media-queries.css">
    <link rel="stylesheet" href="/build/boomerang.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <p>answer</p>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="row">

            <div class="col-sm-6">
                <div class="well">
                    <%if (boomerang && boomerang.users.responder && boomerang.users.responder.toString() == user._id.toString()){%>

                    <p>
                        <%= boomerang.description  %><br>

                    </p>

                    <form method="post">

                        <div class="form-group">
                            <textarea rows="3" class="form-control" name="response">
                            </textarea>
                        </div>

                        <input type="hidden" name="boomerangId" value="<%= boomerang._id %>"/>

                        <button type="submit" formaction="/complete" class="btn">complete</button>
                        <button type="submit" formaction="/toss" class="btn">toss</button>
                    </form>


                    <% } else if (boomerang) {%>
                        <p>
                            <%= boomerang.description  %><br>
                        </p>
                        <form method="post">
                            <input type="hidden" name="boomerangId" value="<%= boomerang._id %>"/>
                            <button type="submit" formaction="/select" class="btn">select</button>
                        </form>
                        <form method="get">
                            <button type="submit" formaction="/next" class="btn">next</button>
                        </form>
                    <% } else { %>
                          <p>
                            no more<br>
                        </p>
                    <%}%>
                </div>

            </div>

        </div>

        <hr/>

    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get">
            <button type="submit" formaction="/find" class="btn">find</button>
            <button type="submit" formaction="/create" class="btn">ask</button>
        </form>
    </div>

</div>
</body>
</html>